#avatar {
  width: auto;
  height: calc((20vw + 20vh) / 2);
  position: relative;
  background-position: center center;
  background-size: cover;

  @media (min-width: 576px) {
    top: 50%;
    transform: translateY(-50%);
  }
}

.profile-card {
  max-width: 100vw;
}
