@import "../mixin";

.cancel-button {
  @include d-svg(30) {
    height: 30px;
  }

  display: none;
  position: absolute;
  width: min-content;
  height: min-content;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  z-index: 10;
  cursor: pointer;
  transform: translate(50%, -40%);
  transition: .2s ease-in-out;

  &:hover {
    filter: brightness(150%);
    transition: .2s ease-in-out;
  }

  &:active {
    filter: brightness(50%);
    transition: .2s ease-in-out;
  }

  @at-root .card:hover & {
    display: unset;
  }
}
