@import '../mixin';

.work-view {
  color: white;
  background-color: #2c3e50;
  min-height: 60vh;
  width: 75vw;

  .new-work-btn {
    right: 0;
    background-color: #2c3e50;
    border-color: white;

    :hover {
      background-color: white;
      color: black;
    }
  }

  .container {
    max-width: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;

    .wall {
      width: calc(100% - 2rem);
      height: calc(100% - 2rem);
      z-index: 9999;
      background-color: #2c3e50;
      display: none;
      transition: .1s ease-in-out;
      transform: scale(1.08);

      &__show {
        transition: .1s ease-in-out;
        display: block;
      }
    }

    .empty-card {
      width: 10rem;
      height: 300px;
      background-color: transparent;
      border-style: dashed;
      border-width: .2rem;
      border-color: white;
      opacity: .5;
      cursor: pointer;
      transition: .2s ease-in-out;
      user-select: none;

      &:hover {
        transition: .2s ease-in-out;
        opacity: 1;
        outline: 0 !important;
      }

      &:active {
        transition: .2s ease-in-out;
        border-color: orange;
        outline: 0 !important;

        .add-svg {
          fill: orange;
        }
      }

      .add-svg {
        fill: white;
        top: 50%;
        transition: .2s ease-in-out;
        position: absolute !important;
        transform: translate(-50%, -50%) scale(2);
      }
    }
  }

  @include d-svg(50);

  @media (max-width: 576px) {
    width: auto;
  }
}
