@mixin fix-100vh-in-mobile-WebKit {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  height: 100%
}

@mixin d-svg($size) {
  .d-svg {
    position: relative;
    width: #{$size}px;
    height: auto;
    display: initial;
    @content
  }
}
