@import "mixin";

html,
body,
#app {
  @include fix-100vh-in-mobile-WebKit;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  overscroll-behavior: contain;
  -ms-scroll-chaining: none;
}

body {
  background-color: white;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
