@import 'mixin';

body {
  background-color: #020631;
}

.add-work {
  .logo {
    @include d-svg(150) {
      max-width: 100%;

      @media (max-width: 576px) {
        width: 100px;
      }
    }
  }

  .work-form {
    background-color: white;
    max-width: min(850px, 100vw - 4em);
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    .picture {
      &.default {
        border-style: dashed;
        border-width: .5rem;
        border-color: gray;
      }

      svg {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
